.weather__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #8888;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    height: 60%;
    max-width: 550px;
}

.weather__place {
    font-size: 1.25rem;
}

.weather__container {
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 50px;
    flex-wrap: wrap;
}

.weather__description {
    margin: 15px 0;
    text-align: center;
}

.weather__item {
    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: 10px;
}

.weather__title {
    color: black;
}

.weather__temp {
    color: black;
}

@media (max-width: 700px) {
    .weather__card{
        width: 80%;
        height: 80%;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 701px) {
    .weather__card {
        width: 80%;
        height: 80%;
        align-items: center;
        justify-content: center; 
        gap: 20px;
        font-size: 20px;
    }

    .weather__place {
        font-size: 25px;
    }

    .weather__btn {
        padding: 8px 13px;
        font-size: 17px;
    }
}